<!--Content-->
<div id="content">
  <div class="container clearfix"> 
    <!--Statistics-->
    
    <!--     <div class="box"> 
          <div class="header">
            <h2><a href="#">Chart with container</a></h2>
            <span class="draggable"></span> 
            <span class="toggle"></span>
          </div>
          <div class="content"> 
            
            
            
         <div class="tabs">
              <ul class="navigation clearfix">
                <li><a class="current" href="#line">Line</a></li>
                <li><a href="#pie">Pie</a></li>
                <li><a href="#area">Area</a></li>
              </ul>
              <div class="tab" id="line">
                <table class="stats" rel="line" style="display:none;">
                  <caption>
                    Statistics
                  </caption>
                  <thead>
                    <tr>
                      <td></td>
                      <th scope="col"> Jan </th>
                      <th scope="col"> Feb </th>
                      <th scope="col"> Mar </th>
                      <th scope="col"> Apr </th>
                      <th scope="col"> May </th>
                      <th scope="col"> Jun </th>
                      <th scope="col"> Jul </th>
                      <th scope="col"> Aug </th>
                      <th scope="col"> Sep </th>
                      <th scope="col"> Oct </th>
                      <th scope="col"> Nov </th>
                      <th scope="col"> Dec </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"> Pageviews </th>
                      <td> 57 </td>
                      <td> 69 </td>
                      <td> 95 </td>
                      <td> 108 </td>
                      <td> 168 </td>
                      <td> 50 </td>
                      <td> 20 </td>
                      <td> 134 </td>
                      <td> 81 </td>
                      <td> 96 </td>
                      <td> 86 </td>
                      <td> 54 </td>
                    </tr>
                    <tr>
                      <th scope="row"> Returning Visitors </th>
                      <td> 20 </td>
                      <td> 80 </td>
                      <td> 66 </td>
                      <td> 150 </td>
                      <td> 15 </td>
                      <td> 30 </td>
                      <td> 45 </td>
                      <td> 104 </td>
                      <td> 41 </td>
                      <td> 66 </td>
                      <td> 86 </td>
                      <td> 54 </td>
                    </tr>
                    <tr>
                      <th scope="row"> Unique visitors </th>
                      <td> 20 </td>
                      <td> 40 </td>
                      <td> 68 </td>
                      <td> 70 </td>
                      <td> 102 </td>
                      <td> 35 </td>
                      <td> 14 </td>
                      <td> 17 </td>
                      <td> 74 </td>
                      <td> 95 </td>
                      <td> 45 </td>
                      <td> 23 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab" id="pie">
                <table class="stats" rel="pie" style="display:none;">
                  <caption>
                    Statistics
                  </caption>
                  <thead>
                    <tr>
                      <td></td>
                      <th scope="col"> Jan </th>
                      <th scope="col"> Feb </th>
                      <th scope="col"> Mar </th>
                      <th scope="col"> Apr </th>
                      <th scope="col"> May </th>
                      <th scope="col"> Jun </th>
                      <th scope="col"> Jul </th>
                      <th scope="col"> Aug </th>
                      <th scope="col"> Sep </th>
                      <th scope="col"> Oct </th>
                      <th scope="col"> Nov </th>
                      <th scope="col"> Dec </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"> Pageviews </th>
                      <td> 57 </td>
                      <td> 69 </td>
                      <td> 95 </td>
                      <td> 108 </td>
                      <td> 168 </td>
                      <td> 50 </td>
                      <td> 20 </td>
                      <td> 134 </td>
                      <td> 81 </td>
                      <td> 96 </td>
                      <td> 86 </td>
                      <td> 54 </td>
                    </tr>
                    <tr>
                      <th scope="row"> Returning Visitors </th>
                      <td> 20 </td>
                      <td> 80 </td>
                      <td> 66 </td>
                      <td> 150 </td>
                      <td> 15 </td>
                      <td> 30 </td>
                      <td> 45 </td>
                      <td> 104 </td>
                      <td> 41 </td>
                      <td> 66 </td>
                      <td> 86 </td>
                      <td> 54 </td>
                    </tr>
                    <tr>
                      <th scope="row"> Unique visitors </th>
                      <td> 20 </td>
                      <td> 40 </td>
                      <td> 68 </td>
                      <td> 70 </td>
                      <td> 102 </td>
                      <td> 35 </td>
                      <td> 14 </td>
                      <td> 17 </td>
                      <td> 74 </td>
                      <td> 95 </td>
                      <td> 45 </td>
                      <td> 23 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab" id="area">
                <table class="stats" rel="area" style="display:none;">
                  <caption>
                    Statistics
                  </caption>
                  <thead>
                    <tr>
                      <td></td>
                      <th scope="col"> Jan </th>
                      <th scope="col"> Feb </th>
                      <th scope="col"> Mar </th>
                      <th scope="col"> Apr </th>
                      <th scope="col"> May </th>
                      <th scope="col"> Jun </th>
                      <th scope="col"> Jul </th>
                      <th scope="col"> Aug </th>
                      <th scope="col"> Sep </th>
                      <th scope="col"> Oct </th>
                      <th scope="col"> Nov </th>
                      <th scope="col"> Dec </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"> Pageviews </th>
                      <td> 57 </td>
                      <td> 69 </td>
                      <td> 95 </td>
                      <td> 108 </td>
                      <td> 168 </td>
                      <td> 50 </td>
                      <td> 20 </td>
                      <td> 134 </td>
                      <td> 81 </td>
                      <td> 96 </td>
                      <td> 86 </td>
                      <td> 54 </td>
                    </tr>
                    <tr>
                      <th scope="row"> Returning Visitors </th>
                      <td> 20 </td>
                      <td> 80 </td>
                      <td> 66 </td>
                      <td> 150 </td>
                      <td> 15 </td>
                      <td> 30 </td>
                      <td> 45 </td>
                      <td> 104 </td>
                      <td> 41 </td>
                      <td> 66 </td>
                      <td> 86 </td>
                      <td> 54 </td>
                    </tr>
                    <tr>
                      <th scope="row"> Unique visitors </th>
                      <td> 20 </td>
                      <td> 40 </td>
                      <td> 68 </td>
                      <td> 70 </td>
                      <td> 102 </td>
                      <td> 35 </td>
                      <td> 14 </td>
                      <td> 17 </td>
                      <td> 74 </td>
                      <td> 95 </td>
                      <td> 45 </td>
                      <td> 23 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
         
          </div>
        </div> -->








    <!--Table-->
    <div class="box"> 
      <!--Title-->
      <div class="header">
        <h2><a href="#">Table with container</a></h2>
        <!--Draggable--> 
        <span class="draggable"></span> 
        <!--Toggle--> 
        <span class="toggle"></span> </div>
        <!--Content-->
        <div class="content clearfix"> 
          <!--Table-->
          <table class="datatable">
            <thead>
              <tr>
                <th class="sorting_asc"> Rendering engine </th>
                <th class="sorting"> Browser </th>
                <th class="sorting"> Platform(s) </th>
                <th class="sorting"> Engine version </th>
                <th class="sorting"> CSS grade </th>
              </tr>
            </thead>
            <tbody>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Firefox 1.5</td>
                <td>Win 98+ / OSX.2+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Gecko</td>
                <td>Firefox 2.0</td>
                <td>Win 98+ / OSX.2+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Firefox 3.0</td>
                <td>Win 2k+ / OSX.3+</td>
                <td class="center">1.9</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Gecko</td>
                <td>Camino 1.0</td>
                <td>OSX.2+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Camino 1.5</td>
                <td>OSX.3+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Gecko</td>
                <td>Netscape 7.2</td>
                <td>Win 95+ / Mac OS 8.6-9.2</td>
                <td class="center">1.7</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Netscape Browser 8</td>
                <td>Win 98SE+</td>
                <td class="center">1.7</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Gecko</td>
                <td>Netscape Navigator 9</td>
                <td>Win 98+ / OSX.2+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Mozilla 1.0</td>
                <td>Win 95+ / OSX.1+</td>
                <td class="center">1</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Gecko</td>
                <td>Mozilla 1.1</td>
                <td>Win 95+ / OSX.1+</td>
                <td class="center">1.1</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Mozilla 1.2</td>
                <td>Win 95+ / OSX.1+</td>
                <td class="center">1.2</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Gecko</td>
                <td>Mozilla 1.3</td>
                <td>Win 95+ / OSX.1+</td>
                <td class="center">1.3</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Mozilla 1.4</td>
                <td>Win 95+ / OSX.1+</td>
                <td class="center">1.4</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Gecko</td>
                <td>Mozilla 1.5</td>
                <td>Win 95+ / OSX.1+</td>
                <td class="center">1.5</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Mozilla 1.6</td>
                <td>Win 95+ / OSX.1+</td>
                <td class="center">1.6</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Gecko</td>
                <td>Mozilla 1.7</td>
                <td>Win 98+ / OSX.1+</td>
                <td class="center">1.7</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Mozilla 1.8</td>
                <td>Win 98+ / OSX.1+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Gecko</td>
                <td>Seamonkey 1.1</td>
                <td>Win 98+ / OSX.2+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Gecko</td>
                <td>Epiphany 2.20</td>
                <td>Gnome</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeC even">
                <td class=" sorting_1">KHTML</td>
                <td>Konqureror 3.1</td>
                <td>KDE 3.1</td>
                <td class="center">3.1</td>
                <td class="center">C</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">KHTML</td>
                <td>Konqureror 3.3</td>
                <td>KDE 3.3</td>
                <td class="center">3.3</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">KHTML</td>
                <td>Konqureror 3.5</td>
                <td>KDE 3.5</td>
                <td class="center">3.5</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Misc</td>
                <td>NetFront 3.1</td>
                <td>Embedded devices</td>
                <td class="center">-</td>
                <td class="center">C</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Misc</td>
                <td>NetFront 3.4</td>
                <td>Embedded devices</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Presto</td>
                <td>Opera 7.0</td>
                <td>Win 95+ / OSX.1+</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Presto</td>
                <td>Opera 7.5</td>
                <td>Win 95+ / OSX.2+</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Presto</td>
                <td>Opera 8.0</td>
                <td>Win 95+ / OSX.2+</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Presto</td>
                <td>Opera 8.5</td>
                <td>Win 95+ / OSX.2+</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Presto</td>
                <td>Opera 9.0</td>
                <td>Win 95+ / OSX.3+</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Presto</td>
                <td>Opera 9.2</td>
                <td>Win 88+ / OSX.3+</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Presto</td>
                <td>Opera 9.5</td>
                <td>Win 88+ / OSX.3+</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Presto</td>
                <td>Opera for Wii</td>
                <td>Wii</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA odd">
                <td class=" sorting_1">Presto</td>
                <td>Nokia N800</td>
                <td>N800</td>
                <td class="center">-</td>
                <td class="center">A</td>
              </tr>
              <tr class="gradeA even">
                <td class=" sorting_1">Presto</td>
                <td>Nintendo DS browser</td>
                <td>Nintendo DS</td>
                <td class="center">8.5</td>
                <td class="center">C/A<sup>1</sup></td>
              </tr>
              <tr class="gradeX odd">
                <td class=" sorting_1">Tasman</td>
                <td>Internet Explorer 4.5</td>
                <td>Mac OS 8-9</td>
                <td class="center">-</td>
                <td class="center">X</td>
              </tr>
              <tr class="gradeC even">
                <td class=" sorting_1">Tasman</td>
                <td>Internet Explorer 5.1</td>
                <td>Mac OS 7.6-9</td>
                <td class="center">1</td>
                <td class="center">C</td>
              </tr>
              <tr class="gradeC odd">
                <td class=" sorting_1">Tasman</td>
                <td>Internet Explorer 5.2</td>
                <td>Mac OS 8-X</td>
                <td class="center">1</td>
                <td class="center">C</td>
              </tr>
              <tr class="gradeX even">
                <td class=" sorting_1">Trident</td>
                <td> Internet
                  Explorer 
                  4.0 </td>
                  <td>Win 95+</td>
                  <td class="center">4</td>
                  <td class="center">X</td>
                </tr>
                <tr class="gradeC odd">
                  <td class=" sorting_1">Trident</td>
                  <td>Internet
                    Explorer 5.0</td>
                    <td>Win 95+</td>
                    <td class="center">5</td>
                    <td class="center">C</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class=" sorting_1">Trident</td>
                    <td>Internet
                      Explorer 5.5</td>
                      <td>Win 95+</td>
                      <td class="center">5.5</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA odd">
                      <td class=" sorting_1">Trident</td>
                      <td>Internet Explorer 6</td>
                      <td>Win 98+</td>
                      <td class="center">6</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA even">
                      <td class=" sorting_1">Trident</td>
                      <td>Internet Explorer 7</td>
                      <td>Win XP SP2+</td>
                      <td class="center">7</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA odd">
                      <td class=" sorting_1">Trident</td>
                      <td>AOL browser (AOL desktop)</td>
                      <td>Win XP</td>
                      <td class="center">6</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA even">
                      <td class=" sorting_1">Webkit</td>
                      <td>Safari 1.2</td>
                      <td>OSX.3</td>
                      <td class="center">125.5</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA odd">
                      <td class=" sorting_1">Webkit</td>
                      <td>Safari 1.3</td>
                      <td>OSX.3</td>
                      <td class="center">312.8</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA even">
                      <td class=" sorting_1">Webkit</td>
                      <td>Safari 2.0</td>
                      <td>OSX.4+</td>
                      <td class="center">419.3</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA odd">
                      <td class=" sorting_1">Webkit</td>
                      <td>Safari 3.0</td>
                      <td>OSX.4+</td>
                      <td class="center">522.1</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA even">
                      <td class=" sorting_1">Webkit</td>
                      <td>OmniWeb 5.5</td>
                      <td>OSX.4+</td>
                      <td class="center">420</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA odd">
                      <td class=" sorting_1">Webkit</td>
                      <td>iPod Touch / iPhone</td>
                      <td>iPod</td>
                      <td class="center">420.1</td>
                      <td class="center">A</td>
                    </tr>
                    <tr class="gradeA even">
                      <td class=" sorting_1">Webkit</td>
                      <td>S60</td>
                      <td>S60</td>
                      <td class="center">413</td>
                      <td class="center">A</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>









            <!--Forms-->
            <div class="box">
              <div class="header">
                <h2>Form Styles</h2>
                <!--Draggable--> 
                <span class="draggable"></span> 
                <!--Toggle--> 
                <span class="toggle"></span> </div>
                <div class="content padding"> 
                  <!--Form Elements-->
                  <form>
                    <fieldset>
                      <legend>Form Styles</legend>
                      <div class="field">
                        <label>Text Input</label>
                        <input type="text" />
                      </div>
                      <div class="field">
                        <label>Medium Text Input</label>
                        <input type="text" class="medium" />
                      </div>
                      <div class="field">
                        <label>Large Text Input</label>
                        <input type="text" class="large" />
                      </div>
                      <div class="field">
                        <label>Text Input</label>
                        <input type="text" size="3" />
                        -
                        <input type="text" size="3" />
                        -
                        <input type="text" size="4" />
                        <label class="help">(###) - ### - ####</label>
                      </div>
                      <div class="field">
                        <label>File Input:</label>
                        <input type="file"/>
                      </div>
                      <div class="field">
                        <label>Select Input:</label>
                        <select>
                          <option>Option #1</option>
                          <option>Option #2</option>
                          <option>Option #3</option>
                        </select>
                      </div>
                      <div class="field">
                        <label>Radio Input:</label>
                        <label>
                          <input name="radio" type="radio" checked="checked" />
                          Radio Option</label>
                          <label>
                            <input name="radio" type="radio" />
                            Radio Option</label>
                            <label>
                              <input name="radio" type="radio" />
                              Radio Option</label>
                            </div>
                            <div class="field">
                              <label>Checkbox Inputs:</label>
                              <label>
                                <input type="checkbox" name="check" checked="checked" />
                                Check Option</label>
                                <label>
                                  <input type="checkbox" name="check" />
                                  Check Option</label>
                                  <label>
                                    <input type="checkbox" name="check" />
                                    Check Option</label>
                                  </div>
                                  <div class="field">
                                    <label>Textarea Input:</label>
                                    <textarea rows="7" cols="50" ></textarea>
                                  </div>
                                  <button>Submit</button>
                                  <button type="reset" class="secondary">Reset</button>
                                  <button disabled>Disabled Button</button>
                                </fieldset>
                              </form>
                            </div>
                          </div>


                        <!--Table-->
                        <div class="box one_half"> 
                          <!--Title-->
                          <div class="header">
                            <h2><a href="#">Categories</a> | 
                              <a href="#modal_new_master_category" class="addEntry" rel="modal">Add</a>
                            </h2>
                            <!--Draggable--> 
                            <span class="draggable"></span> 
                            <!--Toggle--> 
                            <span class="toggle"></span> 
                          </div>
                            <!--Content-->
                            <div class="content"> 
                              <!--Table-->
                              <table class="datatable" id="category">
                                <thead>
                                  <tr>
                                    <th class="sorting_asc">Categories </th>
                                    <th class="sorting">Total Member</th>
                                    <th class="sorting">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Fast Moving</td>
                                    <td>30</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA even">
                                    <td class=" sorting_1">Slow Moving</td>
                                    <td>50</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  <tr class="gradeA odd">
                                    <td class=" sorting_1">Strange Moving</td>
                                    <td>77</td>
                                    <td>Edit | Destroy</td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                        <!--Table-->
                        <div class="box one_half last"> 
                          <!--Title-->
                          <div class="header">
                            <h2><a href="#">Other Thing shite</a></h2>
                            <!--Draggable--> 
                            <span class="draggable"></span> 
                            <!--Toggle--> 
                            <span class="toggle"></span> 
                          </div>
                          <!--Content-->
                          <div class="content"> 
                            <!--Table-->
                            <table class="datatable">
                              <thead>
                                <tr>
                                  <th class="sorting_asc">Categories </th>
                                  <th class="sorting">Total Member</th>
                                  <th class="sorting">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="gradeA odd">
                                  <td class=" sorting_1">Fast Moving</td>
                                  <td>30</td>
                                  <td>Edit | Destroy</td>
                                </tr>
                                <tr class="gradeA even">
                                  <td class=" sorting_1">Slow Moving</td>
                                  <td>50</td>
                                  <td>Edit | Destroy</td>
                                </tr>
                                <tr class="gradeA odd">
                                  <td class=" sorting_1">Strange Moving</td>
                                  <td>77</td>
                                  <td>Edit | Destroy</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                          <!--Tabs-->
                          <div class="box one_half"> 
                            <!--Title-->
                            <div class="header">
                              <h2><a href="#">Tabs Willy</a></h2>
                              <!--Draggable--> 
                              <span class="draggable"></span> 
                              <!--Toggle--> 
                              <span class="toggle"></span> </div>
                              <!--Content-->
                              <div class="content">
                                <div class="tabs"> 
                                  <!--navigation-->
                                  <ul class="navigation clearfix">
                                    <li><a class="current" href="#tab1">Typography</a></li>
                                    <li><a href="#tab2">Tab2</a></li>
                                    <li><a href="#tab3">Tab3</a></li>
                                  </ul>
                                  <!--tabs-->
                                  <div class="tab" id="tab1">
                                    <h6>Content Tab1</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis.</p>
                                  </div>
                                  <div class="tab" id="tab2">
                                    <h6>Content Tab2</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis.</p>
                                  </div>
                                  <div class="tab" id="tab3">
                                    <h6>Content Tab3</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--Acordion-->
                            <div class="box one_half last">
                              <div class="header">
                                <h2><a href="#">Acordion</a></h2>
                                <span class="draggable"></span> <span class="toggle"></span> </div>
                                <div class="content">
                                  <div class="accordion">
                                    <h2 class="panel"><a href="#">Panel 1</a></h2>
                                    <div class="content">
                                      <h6><a href="#modaldemo" rel="modal">Content Panel 1</a></h6>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                    </div>
                                    <h2 class="panel"><a href="#">Panel 2</a></h2>
                                    <div class="content">
                                      <h6><a href="#modaldemo" rel="modal">Content Panel 2</a></h6>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                    </div>
                                    <h2 class="panel"><a href="#">Panel 3</a></h2>
                                    <div class="content">
                                      <h6><a href="#modaldemo" rel="modal">Content Panel 3</a></h6>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ligula ut augue dignissim lacinia quis id turpis. Praesent imperdiet ornare pharetra. Pellentesque lorem elit, tristique et sodales ac, lacinia nec sem. </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--Inbox-->
                              <div class="box"> 
                                <!--Title-->
                                <div class="header">
                                  <h2><a href="#">Inbox Widget</a></h2>
                                  <!--Draggable--> 
                                  <span class="draggable"></span> <span class="toggle"></span> </div>
                                  <!--Content-->
                                  <div class="content padding">
                                    <ul class="inbox">
                                      <li> 
                                        <!--Avatar--> 
                                        <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
                                        <!--Author-->
                                        <div class="author"> <a href="#"></a>
                                          <h4><a href="#">Username</a></h4>
                                        </div>
                                        <!--Meta-->
                                        <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
                                        <!--Body-->
                                        <div class="body">
                                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
                                          </div>
                                        </li>
                                        <!--separator-->
                                        <li class="separator"></li>
                                        <li> 
                                          <!--Avatar--> 
                                          <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
                                          <!--Author-->
                                          <div class="author"> <a href="#"></a>
                                            <h4><a href="#">Username</a></h4>
                                          </div>
                                          <!--Meta-->
                                          <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
                                          <!--Body-->
                                          <div class="body">
                                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt.
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
                                            </div>
                                          </li>
                                          <!--separator-->
                                          <li class="separator"></li>
                                          <li> 
                                            <!--Avatar--> 
                                            <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
                                            <!--Author-->
                                            <div class="author"> <a href="#"></a>
                                              <h4><a href="#">Username</a></h4>
                                            </div>
                                            <!--Meta-->
                                            <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
                                            <!--Body-->
                                            <div class="body">
                                              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
                                            </div>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <!--Footer-->
                                    <div id="footer" class="separator"> 
                                      <!-- Remove this notice or replace it with whatever you want --> 
                                      &#169; Copyright 2011 weyewe |  <a href="#">Top</a> </div>
                                      <!--End .container--> 
                                    </div>
                                    <!--End #content--> 
                                  </div>


<!--content for adding new category -->
<div id="modal_new_master_category" style="display:none;">
  <% form_for @category do |f| %>
    <%= f.label :name  , "New Category Name" %>
    <%= f.text_field :name %>
    <%= f.submit "Submit", :class => "button"%>
  <% end %>
<div>
<!--demo content for facebox-->
<div id="modaldemo" style="display:none;">
  <ul class="inbox">
    <li> 
      <!--Avatar--> 
      <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
      <!--Author-->
      <div class="author"> <a href="#"></a>
        <h4><a href="#">Username</a></h4>
      </div>
      <!--Meta-->
      <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
      <!--Body-->
      <div class="body">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
      </div>
    </li>
    <!--separator-->
    <li class="separator"></li>
    <li> 
      <!--Avatar--> 
      <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
      <!--Author-->
      <div class="author"> <a href="#"></a>
        <h4><a href="#">Username</a></h4>
      </div>
      <!--Meta-->
      <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
      <!--Body-->
      <div class="body">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
      </div>
    </li>
    <!--separator-->
    <li class="separator"></li>
    <li> 
      <!--Avatar--> 
      <img alt="avatar" class="avatar" src="/images/assets/user.png" width="35" height="35"/> 
      <!--Author-->
      <div class="author"> <a href="#"></a>
        <h4><a href="#">Username</a></h4>
      </div>
      <!--Meta-->
      <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
      <!--Body-->
      <div class="body">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
      </div>
    </li>
  </ul>
</div>
</body>
